*.jpg
*.jpeg
*.png
!media/dml_few_shot-proxy_opt.png
!media/dml_few_shot-training.png
!media/dml_few_shot-inference.png
!media/pytorch-installation-page.png
*.json
*.pt
*.pth
*.npy
*.zip
*.tar
&.tar.gz
.idea/
.idea
*.xml
*.iml
__pycache__
*.pyc
/pretrained/
media/.$dml_few_shot.drawio.bkp
media/dml_few_shot.drawio
